.os-products-footer{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: auto;
}

.os-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.os-pagination .previous{
  margin-right: 15px;
}

.os-pagination .page-link {
  align-items: center;
  background-color: #ededed;
  border-radius: 20px;
  color: #2c2c2c;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: .3s;
  inline-size: 40px;
  text-decoration: none;
}

.os-pagination .page-list {
  border-radius: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.os-pagination .page-link.active, .os-pagination .page-link:hover {
  background-color: #7e72f2;
  color: #fff;
}

.os-pagination .next {
  margin-left: 15px;
}

