<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SearchBox component</title>

  <link rel="stylesheet" href="style.css">
  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper" data-element = 'search'>
    <!-- SearchBox component -->
    <form action="">
      <div class="os-form-input use-icon">
        <input class = 'style-search' id = 'search-input' data-element="search" placeholder="Search" type="text">
        <label for="search-input" class="bi bi-search input-icon"></label>
      </div>
    </form>
  </div>
</main>
</body>
</html>
